
/*General style*/
* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgb(58, 90, 64);
}
.greenText{
    color: rgb(58, 90, 64);   
}
.paragraph {
    font-size: 1.4rem;
}
.icon {
    width: 35px;
    height: 35px;
}

/*Navbar start*/
.links {
    font-size: 1.8rem !important;
    transition: 0.5s;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
/*Navbar end*/

@media only screen and (min-width: 1200px) {
    #emailCard {
        position: absolute;
        top: -10px;
        right: 100px;
        width: 400px;
    }
}

#title {
    color: rgb(207, 172, 118);
    font-size: 3rem;
    text-decoration: underline;
}

#emailCard {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
input, textarea {
    border: none;
    border-bottom: 1px solid black;
}
input:focus, textarea:focus {
    outline: none;
}
#sendBtn {
    background-color: rgb(58, 90, 64);
    color: rgb(207, 172, 118);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#contact {
    color: rgb(207, 172, 118);
}

#iconPhone {
    width: auto;
    height: 35px;
}
#iconEmail {
    width: 35px;
    height: auto;
}

.credits {
    width: 100%;
    text-align: center;
    color: white;
}